
web.config
application/composer.lock
application/composer.json
.idea/vcs.xml
.idea/public_html.iml
.idea/php.xml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/codeStyleConfig.xml
